<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    table tr td, table tr th {
      padding-right: 20px;
      width: 110px;
      text-align: left;
    }

    td.passed {
      font-weight: bold;
      color: green;
    }

    td.failed {
      font-weight: bold;
      color: red;
    }

    .hidden {
      display: none;
    }

    .specs {
      background-color: rgba(135, 206, 235, 0.25);
    }

    .name {
      width: 50%;
      text-decoration: underline;

    }

    #result-table {
      width: 100%;
      text-aligh: left;
    }

    .suite {
      background-color: skyblue;
    }

    .name:hover {
      cursor: pointer;
    }

    .name-spec {
      padding-left: 20px;
    }
  </style>
</head>
<body>
<header id="header">
  <h3 id="title">
    Visual test reports
  </h3>
</header>
<section id="wrapper">
  <table id="result-table" cellspacing="0">
    <tr>
      <th>Status</th>
      <th>Name</th>
      <th>Specs</th>
      <th>Specs Passed</th>
      <th>Specs Failed</th>
      <th>Specs Pending</th>
      <th>Specs Disabled</th>
      <th>Expectations</th>
      <th>Expectations Passed</th>
      <th>Expectations Failed</th>
      <th>Expectations Failed with Error</th>
      <th>Expectations Failed with Image</th>
      <th>Duration, s</th>
    </tr>
    <% _.forEach(suites, function(suite){ %>
    <tr class="suite">
      <td class="<%- suite.status %>"><%- suite.status %></td>
      <td class="name" onClick="expand('<%- suite.name %>')"><%- suite.name %></td>
      <td><%- suite.statistic.specs.total %></td>
      <td><%- suite.statistic.specs.passed %></td>
      <td><%- suite.statistic.specs.failed %></td>
      <td><%- suite.statistic.specs.pending %></td>
      <td><%- suite.statistic.specs.disabled %></td>
      <td><%- suite.statistic.expectations.total %></td>
      <td><%- suite.statistic.expectations.passed %></td>
      <td><%- suite.statistic.expectations.failed.total %></td>
      <td><%- suite.statistic.expectations.failed.error %></td>
      <td><%- suite.statistic.expectations.failed.image %></td>
      <td><%- Math.round( suite.statistic.duration/1000 * 10 ) / 10 %></td>
    </tr>
      <% _.forEach(suite.specs, function(spec){ %>
      <tr class="<%-suite.name%>_specs specs hidden">
        <td class="<%- spec.status %>"><%- spec.status %></td>
        <td class="name-spec"><%- spec.name %></td>
        <td></td><td></td><td></td><td></td><td></td>
        <td><%- spec.statistic.expectations.total %></td>
        <td><%- spec.statistic.expectations.passed %></td>
        <td><%- spec.statistic.expectations.failed.total %></td>
        <td><%- spec.statistic.expectations.failed.error %></td>
        <td><%- spec.statistic.expectations.failed.image %></td>
        <td><%- Math.round( spec.statistic.duration/1000 * 10 ) / 10 %></td>
      </tr>
      <% }); %>
    <% }); %>

    <tr id="summary">
      <td>Total</td>
      <td></td>
      <td><%- statistic.specs.total %></td>
      <td><%- statistic.specs.passed %></td>
      <td><%- statistic.specs.failed %></td>
      <td><%- statistic.specs.pending %></td>
      <td><%- statistic.specs.disabled %></td>
      <td><%- statistic.expectations.total %></td>
      <td><%- statistic.expectations.passed %></td>
      <td><%- statistic.expectations.failed.total %></td>
      <td><%- statistic.expectations.failed.error %></td>
      <td><%- statistic.expectations.failed.image %></td>
      <td><%- Math.round( statistic.duration/1000 * 10 ) / 10 %></td>
    </tr>
  </table>
  <div id="suites-summary">
    <p>Suites </p>
    <span>Total: <%- statistic.suites.total %></span>
    <span>Passed: <%- statistic.suites.passed %></span>
    <span>Failed: <%- statistic.suites.failed %></span>
  </div>
</section>
<script>
  function expand(suiteName) {
    var elements = document.getElementsByClassName(suiteName + '_specs');
    var elementClass = '';
    var nameIndex = 0;

    for(var i = 0; i < elements.length; i++) {
      elementClass = elements[i].className;
      nameIndex = elementClass.indexOf('hidden');

      if(nameIndex < 0) {
        elementClass += ' hidden';
      } else {
        elementClass = elementClass.substr(0, nameIndex-1) + elementClass.substr(nameIndex + elementClass.length);
      }

      elements[i].className = elementClass;
    }
  }
</script>
</body>
</html>
